@using Retro.Front.Components.Board.Dtos
<CascadingValue Value="this">
    <div class="grid grid-cols-3 gap-4">
        <BoardColumn @ref="GoodColumn" OnPointerEnter="OnPointerEnter" OnPointerLeave="OnPointerLeave" OnItemDropped="OnItemDropped" Items="_good"></BoardColumn>
        <BoardColumn @ref="BadColumn" OnPointerEnter="OnPointerEnter" OnPointerLeave="OnPointerLeave" OnItemDropped="OnItemDropped" Items="_bad"></BoardColumn>
        <BoardColumn @ref="ImproveColumn" OnPointerEnter="OnPointerEnter" OnPointerLeave="OnPointerLeave" OnItemDropped="OnItemDropped" Items="_improve"></BoardColumn>
    </div>
</CascadingValue>

@code {
    private List<BoardItemDto> _good = new() { new("Test title title title", true, 0) };
    private List<BoardItemDto> _bad = new();
    private List<BoardItemDto> _improve = new();

    BoardColumn GoodColumn { get; set; }
    BoardColumn BadColumn { get; set; }
    BoardColumn ImproveColumn { get; set; }

    private BoardItemDto? _selectedItem;

    private void OnItemDropped(BoardColumn column)
    {
        if (_selectedItem != null)
        {
            GoodColumn.HideTemporaryItem();
            BadColumn.HideTemporaryItem();
            ImproveColumn.HideTemporaryItem();
            GoodColumn.RemoveItem(_selectedItem);
            BadColumn.RemoveItem(_selectedItem);
            ImproveColumn.RemoveItem(_selectedItem);

            column.AddItem(_selectedItem);
            
            OnItemDragEnd();

            StateHasChanged();
        }
    }

    private void OnPointerEnter(BoardColumn column)
    {
        GoodColumn.HideTemporaryItem();
        BadColumn.HideTemporaryItem();
        ImproveColumn.HideTemporaryItem();
        if (_selectedItem is not null)
        {
            column.ShowTemporaryItem();
            StateHasChanged();
        }
    }

    private void OnPointerLeave(BoardColumn column)
    {
        GoodColumn.HideTemporaryItem();
        BadColumn.HideTemporaryItem();
        ImproveColumn.HideTemporaryItem();
        StateHasChanged();
    }

    public void OnItemDragStart(BoardItemDto item)
    {
        _selectedItem = item;
    }

    public void OnItemDragEnd()
    {
        _selectedItem = null;
    }

}