@page "/app/change-password/{token?}"

<div class="flex flex-auto flex-col justify-center w-full min-h-full items-center">
    <div class="flex flex-col h-fit lg:w-1/4 md:w-1/2 sm:w-full">
        <MainTitle Title="New password" Class="mb-8"/>
        @if (IsTokenValid)
        {
            <TextInput Type="password" Label="Password"/>
            <TextInput Type="password" Label="Confirm Password"/>
            <FullButton Text="Set password" Class="mt-8"/>
        }
        else
        {
            <p class="text-center mb-8">The token is invalid.</p>
        }
    </div>
</div>

@code {
    [Parameter] public string? Token { get; set; }

    private bool IsTokenValid { get; set; } = true;
}