@page "/app/register"

<div class="flex flex-auto flex-col justify-center w-full min-h-full items-center">
    <div class="flex flex-col h-fit lg:w-1/4 md:w-1/2 sm:w-full">
        <MainTitle Title="Registration" Class="mb-8" />
        <TextInput Label="E-mail" />
        <TextInput Type="password" Label="Password" />
        <TextInput Type="password" Label="Confirm Password" />
        <Checkbox Label="Accept terms&conditions"></Checkbox>
        <FullButton Text="Register" Class="mt-8" />
        <div class="mt-4">
            Already have an account? <a href="/app/login" class="text-orange-500">Login</a>
        </div>
    </div>
</div>