@page "/app/register"

<div class="flex flex-auto flex-col justify-center w-full min-h-full items-center">
    <div class="flex flex-col h-fit lg:w-1/4 md:w-1/2 sm:w-full">
        <MainTitle Title="Registration" Class="mb-8" />
        <TextInput Label="E-mail" />
        <TextInput Label="Password" />
        <TextInput Label="Confirm Password" />
        <Checkbox Label="Accept terms&conditions"></Checkbox>
        <FullButton Text="Register" Class="mt-14" />
    </div>
</div>