@page "/app/reset-password"

<div class="flex flex-auto flex-col justify-center w-full min-h-full items-center">
    <div class="flex flex-col h-fit lg:w-1/4 md:w-1/2 sm:w-full">
        <MainTitle Title="Reset password" Class="mb-8"/>
        <p class="text-center mb-8">Enter your email address and we will send you a link to reset your password.</p>
        <TextInput Label="E-mail"/>
        <FullButton Text="Send a link" Class="mt-8"/>
    </div>
</div>