@page "/app/reset-link-sent"

<div class="flex flex-auto flex-col justify-center w-full min-h-full items-center">
    <div class="flex flex-col h-fit lg:w-1/4 md:w-1/2 sm:w-full">
        <MainTitle Title="Link to reset password" Class="mb-8"/>
        <div class="leading-relaxed text-center">
            We have sent you an email with a link to reset your password. Please check your inbox and follow the instructions in the email.
        </div>
    </div>
</div>