@page "/"

<div class="grid grid-cols-3">
    <div>
        <Logo />
        <FullButton Text="Start Session"/>
        <JoinButton Text="Start session"/>
        <div>
            <CancelButton Text="Cancel"/>
            <ApproveButton Text="OK"/>
        </div>
        <TextInput Label="Test label"/>
        <TextInput Type="password" Label="Password"/>
        <MainTitle Title="Register"/>
        <SecondaryTitle Title="Secondary modal"/>
        
    </div>
</div>